nav ul {
  list-style: none;
  display: flex;
  flex-wrap: row wrap;
  justify-content: space-between;
}

nav ul > li {
  flex: 1;
}

nav ul li img, nav ul li {
  border-radius: 50%;
  max-width: 45px;
  min-width:  15px;
}

#homepage_icon {
  max-width: 45px;
  min-width: 15px;
}


#homepage_icon ul {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

#homepage_icon ul li img {
  border-radius: 50%;
  max-width: 20px;
  min-width:  10px;
}
